@charset "UTF-8";

.cabecalho__menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}

.lista-menu{
    left: -200vh;
    position: absolute;
    top: 100%;
    width: 60vw;
    transition: 0.3s;
    z-index: 2;
}

.container__botao:checked ~ .lista-menu{
    left: 0;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
    margin: -1px;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;

}

.lista-menu__link{
    text-decoration: none;
    background:  var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}
.opcoes{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo-negrito{
        font-family: var(--font-secundaria);
        font-weight: 700;
        font-size: 30px;
    }
    .container__titulo{
        display: block;
        font-weight: 400;
    }
    .opcoes{
        display: flex;
        position: relative;
    }
    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
    .container__imagem-sumir{
        display: none;
    }
    .cabecalho__menu-hamburger{
        display: none;
    }
    .lista-menu{
        transition: none;
    }
    .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked ~ .lista-menu{
        left: 0;
        transition: 0;
        width: auto;
    }

}